body 
	background-color black
	color white
	font-family PitchRegular
	font-size 15px
	
a, a:visited
	color white
	text-decoration none
	transition opacity 100ms ease-out
	-webkit-transition opacity 100ms ease-out

h1, h2, h3, h4 
	font-weight normal
	
h1
	font-family CalibreThin
	text-transform uppercase
	text-align center
	line-height 200%
	letter-spacing 3px
	font-size 5vw
	@media laptop
		font-size 2vw
	a
		padding-bottom 2px
		border-bottom 1px solid white
		&:hover
			opacity .5
	
p 
	font-size .9rem
	
section 
	padding 5vw 10vw
	background-size cover
	background-repeat no-repeat
	position relative
	width 80vw
	
#skrollr-body
	z-index 9999 !important
	position absolute

// HEADER


// header 
// 	width 100vw
// 	height auto
// 	position absolute
// 	z-index 9999
// 	top 0px
// 	@media laptop	
// 		padding 3vw
// 		width 94vw

nav
	margin 0 auto
	position absolute
	display block
	text-align center
	z-index 9999
	@media laptop	
		position absolute
		//right 3vw
		top 3vw
		left 50%
		transform translateX(-50%)
		text-align center
	ul
		list-style none
		padding 0
		margin 0
		opacity 0
		li
			list-style none
			padding 0
			margin 0 .5em 0 .5em
			display inline
			font-size .9rem
			@media laptop	
				float right
				display block
				margin 0 1em 0 1em


// INTRO						


section.intro 
	height 100vh
	width 100vw
	padding 0
	.bigLogo
		position fixed
		width 40vw
		height 20vw
		left 50%
		top 55%
		// transform translateY(-50%) translateX(-50%) scale(1)
		// background-image url(_img/logo_stacked.svg)
		// background-position center center
		// background-size 100%
		// background-repeat no-repeat
		svg
			width 100%
			g
				opacity 0
				transform-origin center center
		
		


// HERO

.label
	text-align center
	span
		text-transform uppercase
		margin 0 auto
		font-size 1rem
		letter-spacing 3px
	.line
		width 3em
		height 5px
		background-color white
		margin 4em auto	5em auto	

section.hero 
	// background-image url(_img/top_01.jpg) 
	background-position top center
	// background-color red
	z-index 0 !important
	height 100vh
	width 100vw
	position fixed
	top 0px
	transform-origin center center
	opacity 0
	transition background 1000ms ease
	// &.switch
	// 	background-image url(_img/top_03.jpg)
	
section.overview
	z-index 999
	// margin-top 50vw
	// @media tablet
	// 	margin-top 25vw

section.photosIntro
	padding 10vw 10vw
	
section.stylists
	text-align center
	.stylist
		margin-bottom 18vw
		padding 0 2em 0 2em
		@media laptop
			margin-bottom 5vw
		// &:hover
		// 	.photo
		// 		background-size 140%
	.photo
		border-radius 1000px
		width 70%
		height 0px
		padding-bottom 70%
		background-color #212121
		background-size 150%
		background-position center center
		margin 0 auto
		margin-bottom 1em
		transition background-size 200ms ease
		@media laptop
			margin-bottom 2em
	.title
		font-family CalibreLight
		text-transform uppercase
		font-size 1em
		letter-spacing 3px
		margin-bottom 0
		media laptop
			margin-bottom 1em
	.desc
		opacity .5
		margin-bottom 1em
	.booknow
		button
			border 1px solid rgba(255,255,255,.7)
			color rgba(255,255,255,.7)
			padding 1em 1em 0.6em 1em
			margin-top .5em
			font-family CalibreLight
			text-transform uppercase
			letter-spacing 2px
			display inline
			background transparent
			transition all 200ms ease
			&:hover
				border-color rgba(255,255,255,1)
				color black
				background-color white
				transform scale(1.05)

section.playground
	background-color pink 
	background-image url(_img/top_02.jpg)
	background-position bottom center
	height 80vh

section.contact
	text-align center
	letter-spacing 2px
	.primary
		font-family CalibreLight
		text-transform uppercase
		font-size 1rem
	.secondary
		font-family CalibreThin
		text-transform uppercase
		font-size 1.2rem
		opacity .6
		@media laptop
			font-size 2rem
		a:hover
			opacity .5
		
footer 
	padding 10vw
	.logomark
		background-size 100%
		width 100px
		height 100px
		border-radius 1000px
		margin 0 auto
		opacity .9
		cursor pointer
		transition transform 200ms ease-out
		margin-bottom 10vw
		@media laptop
			margin-bottom 18vw
		svg
			g.arrow
				opacity 0
				transition all 200ms ease-out
				transform scale(.8)
				transform translateY(20%)
				transform-origin center center
			g.ampersand
				transform scale(1)
				transition all 200ms ease-out
				transform-origin center center
		&:hover
			opacity 1
			transform scale(1.05)
			svg
				g.arrow
					opacity 1
					transform scale(1) 
					transform translateY(0%)
				g.ampersand
					opacity 0
					transform scale(.8)



// PHOTO SWIPER


.swiper-container
	width 100%
	color #fff
	text-align center
	overflow visible
	overflow-x hidden
	padding 10vw 0
	height 35vw
	display none

.swiper-slide
	height 100%
	width 30vw
	img
		max-width 100%
		transition all 200ms ease
		&:hover
			-webkit-transform scale(1.05)
			-moz-transform scale(1.05)
			-ms-transform scale(1.05)
			-o-transform scale(1.05)
			transform scale(1.05)
	.title
		font-style italic
		font-size 42px
		margin-top 80px
		margin-bottom 0
		line-height 45px

.swiper-slide-visible
	opacity 1

.swiper-slide-active
	top 0
	opacity 1

.pagination
	position absolute
	z-index 20
	left 0px
	width 100%
	text-align center
	bottom 5px
	display none

.swiper-pagination-switch
	display inline-block
	width 10px
	height 10px
	border-radius 8px
	background #aaa
	margin-right 8px
	cursor pointer
	-webkit-transition 300ms
	-moz-transition 300ms
	-ms-transition 300ms
	-o-transition 300ms
	transition 300ms
	opacity 0
	position relative
	top -50px

.swiper-visible-switch
	opacity 1
	top 0
	background #aaa

.swiper-active-switch
	background #fff

header .logo
	// transform rotate(-90deg)
	// -webkit-transform rotate(-90deg)
	width 50vw
	margin 10vw auto
	position relative
	@media tablet
		width 30vw
	@media laptop
		transform rotate(0deg)
		-webkit-transform rotate(0deg)
		width 20vw
		margin 0vw auto
		position relative
		
  
.myslideshow
	width 100vw
	height 100vh
	display block
	position fixed
	background-size cover
	background-repeat no-repeat
	background-position center center
	opacity 0
	.item
		width 100vw
		height 100vh
		display block
		background-color black
		position absolute
		opacity 0