@font-face {
    font-family: 'CalibreThin';
    src: url('_fonts/CalibreThin.eot');
    src: url('_fonts/CalibreThin.eot') format('embedded-opentype'),
         url('_fonts/CalibreThin.woff2') format('woff2'),
         url('_fonts/CalibreThin.woff') format('woff'),
         url('_fonts/CalibreThin.ttf') format('truetype'),
         url('_fonts/CalibreThin.svg#CalibreThin') format('svg');
}

@font-face {
    font-family: 'CalibreLight';
    src: url('_fonts/CalibreLight.eot');
    src: url('_fonts/CalibreLight.eot') format('embedded-opentype'),
         url('_fonts/CalibreLight.woff2') format('woff2'),
         url('_fonts/CalibreLight.woff') format('woff'),
         url('_fonts/CalibreLight.ttf') format('truetype'),
         url('_fonts/CalibreLight.svg#CalibreLight') format('svg');
}

@font-face {
    font-family: 'PitchRegular';
    src: url('_fonts/PitchRegular.eot');
    src: url('_fonts/PitchRegular.eot') format('embedded-opentype'),
         url('_fonts/PitchRegular.woff2') format('woff2'),
         url('_fonts/PitchRegular.woff') format('woff'),
         url('_fonts/PitchRegular.ttf') format('truetype'),
         url('_fonts/PitchRegular.svg#PitchRegular') format('svg');
}
